body {
  margin:0;
  background:#111;
  color:white;
  font-family:Arial;
  overflow:hidden;
}

#wrap {
  width:100vw;
  height:100vh;
  overflow:auto;
  position:relative;
}

#area {
  width: 100%;
  height: 100%;
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:visible;
  transform:none;
}

#grid {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  display:grid;
  grid-template-columns: repeat(52, 60px);
  grid-template-rows: repeat(52, 60px);
  gap:2px;
  width: fit-content;
  height: fit-content;
}

.cell {
  width:60px;
  height:60px;
  background:#333;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-size:10px;
  border:1px solid #222;
  color:white;
}

.corner { background:#444 !important; }
.chance { background:#8844aa !important; font-weight:bold; }

.placeholder {
  background:transparent;
  border:none;
}

.precio {
  font-size:9px;
  margin-top:2px;
  color:#7cff7c;
}

/* Mini tablero */
#miniWrap {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, 350px);
  display:flex;
  gap:4px;
}

.mini-cell {
  width:40px;
  height:40px;
  background:#222;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  border:1px solid #444;
}

/* Admin box */
#admin-tools {
  position:fixed;
  bottom:20px;
  right:20px;
  background:#222;
  padding:10px;
  border:1px solid #444;
  border-radius:8px;
}
